@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #35b8be;
  --primary-pirple:#08090A;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

.b3-reg {
  font-size: 16px;
  font-weight: 400;
}

.b3-med {
  font-size: 16px;
  font-weight: 500;
}

.b2-reg {
  font-size: 18px;
  font-weight: 400;
}

.b2-med {
  font-size: 18px;
  font-weight: 500;
}

.b1-reg {
  font-size: 20px;
  font-weight: 400;
}

.b1-med {
  font-size: 20px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
